@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --accent: red;
    --root-bg: #111;
    --root-fg: white;
    --hatch-pattern: repeating-linear-gradient(
        45deg,
        var(--root-fg) 0px,
        var(--root-fg) 1px,
        transparent 1px,
        transparent 8px
    );

}
/* 
.dark {
    --accent: red;
    --root-background: #131313;
    --root-foreground: white;
} */

@theme inline {
    --color-accent: red;
    --color-root-bg: var(--root-bg);
    --color-root-fg: var(--root-fg);
    --background-image-hatch: var(--hatch-pattern);

    --animate-spin-icon: spin 2.5s linear infinite;
}

html {
    @apply scrollbar-gutter-stable overflow-x-hidden
}

body {
    @apply max-w-screen w-screen min-h-screen bg-root-bg text-root-fg overflow-x-hidden
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes z-slide {
    from {
        transform: translateZ(0);
    } to {
        transform: translateZ(var(0));
    }
}