@import "tailwindcss";

@theme {
    --color-background : black;
    --color-foreground : white;
    --color-border : gray;
}

html {
    @apply scrollbar-gutter-stable overflow-x-hidden
}

body {
    @apply bg-background text-white min-h-screen relative w-screen max-w-screen overflow-x-hidden
}

#root {
    @apply flex flex-col
}

@keyframes spinControl {
    to {
        transform: rotate(360deg);
    }
}

@keyframes scroll {
    from {
        transform: translateX(0) translateY(0);
    } to {
        transform: translateX(var(--x, 0)) translateY(var(--y, 0));
    }
}